server:
  servlet:
    context-path: /
  port: 9961

spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://127.0.0.1:3306/test?serverTimezone=Asia/Shanghai&useUnicode=true&characterEncoding=utf-8&zeroDateTimeBehavior=convertToNull&useSSL=false&allowPublicKeyRetrieval=true
    username: root
    password: abc123
  jackson:
    date-format: yyyy-MM-dd HH:mm:ss
    time-zone: GMT+8
    serialization:
      write-dates-as-timestamps: false

  thymeleaf:
    prefix: classpath:/templates/
    suffix: .html
    mode: HTML
    encoding: UTF-8
    servlet:
      content-type: text/html
    cache: false
    enabled: true

  ##邮箱服务器地址
  ##QQ smtp.qq.com
  ##sina smtp.sina.cn
  ##aliyun smtp.aliyun.com
  ##163 smtp.163.com
  mail:
    protocol: smtps
    host: smtp.qq.com
    username: 163***10@qq.com
    password: kcu******xehad
    default-encoding: utf-8
    from: 163******010@qq.com
    port: 465

      # 热加载
      #devtools:
      #restart:
    #热部署生效
    #  enabled: true
    #  #设置重启的目录，添加那个目录的文件需要restart
    #   additional-paths: src/main/java
    #    #排除那个目录的文件不需要restart
    #  additional-exclude: static/**,public/**

  #    #classpath目录下的WEB-INF文件夹内容修改不重启
  #    exclude: com


##############  mybatis-plus #############
mybatis-plus:
  configuration:
    map-underscore-to-camel-case: true
    auto-mapping-behavior: full
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
  mapper-locations: classpath*:mapper/**/*Mapper.xml
  global-config:
    # 逻辑删除配置
    db-config:
      # 删除前
      logic-not-delete-value: 1
      # 删除后
      logic-delete-value: 0
