<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../layui/css/layui.css"  media="all">
    <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
</head>
<body>

<table id="demo" class="layui-hide" lay-filter="test"></table>

<script src="../layui/layui.all.js" charset="utf-8"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->

<script>
    layui.use('table', function(){
        var table = layui.table;
        //第一个实例

        var tableIn = table.render({
            elem: '#demo'
            ,url: '/page'
            ,page: true
            ,limits: [10,20,30,40,50,60]
            ,cols: [
                [
                {field: 'id', title: 'ID',  sort: true, fixed: 'left'}
                ,{field: 'userName', title: 'userName', sort: true, fixed: 'left'}
                ,{field: 'userLoginAccount', title: 'userLoginAccount',  sort: true, fixed: 'left'}
            ]
            ]
        });

    });
</script>

</body>
</html>